$body-color: white;
$nav-padding: 22px 0 16px 0;
$article-bgcolor: #efefef;
$article-descrcolor: #159587;
$article-headcorol: #1697a6;
$article-textcolor: #617d8a;
$about-headcolor: #1fbcd3;
$font-family: sans-serif;
$article-textsize: 1em;
$line-height: 1.6;
$description-margin: 0 15px 7px 15px;
$contac-headmargin: 2px;
$contact-margintop: 10px;
$contact-marginbottom: 25px;
$textarea-margin: 14px;
$borders-color: #617d8a;
$footer-fontsize: 12px;
