$body-color: #efefef;
$nav-padding: 14px 0;
$article-bgcolor: white;
$article-descrcolor: #bdbdbd;
$article-headcorol: #617d8a;
$article-textcolor: #757575;
$about-headcolor: #fc5830;
$font-family: serif;
$article-textsize: 1.2em;
$line-height: 1.3;
$description-margin: 1px 15px 10px 15px;
$contac-headmargin: 2px;
$contact-margintop: 10px;
$contact-marginbottom: 15px;
$textarea-margin: 10px;
$borders-color: #cfd8dc;
$footer-fontsize: 14px;
